<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="laptop-cj5acqn6\sqlexpress.AdventureWorksDW2017.dbo"
            connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-CJ5ACQN6\SQLEXPRESS;user id=gasUser;password=gasUser;initial catalog=AdventureWorksDW2017;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>